<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>FacebookAppID</key>
	<string>1288405447919996</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://www.allsmalldogbreeds.com/breeds/american-cocker-spaniel.jpg</key>
			<key>http://petguide.com.vsassets.com/wp-content/uploads/2013/02/australian-shepherd-11.jpg</key>
			<key>http://pbs.twimg.com/media/CQKgT40WcAAxTgE.jpg:large</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Labrador-Retriever-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/German-Shepherd-Dog-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Golden-Retriever-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Bulldog-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Beagle-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/French-Bulldog-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Yorkshire-Terrier-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Poodle-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Rottweiler-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Boxer-2.jpg</key>
            
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/German-Shorthaired-Pointer-3.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Siberian-Husky-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Dachshund-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Doberman-Pinscher-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Great-Dane-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Miniature-Schnauzer-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Australian-Shepherd-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Cavalier-King-Charles-Spaniel-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Shih-Tzu-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Pembroke-Welsh-Corgi-2.jpg</key>
            
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Pomeranian-3.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Boston-Terrier-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Shetland-Sheepdog-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Havanese-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Mastiff-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Brittany-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/English-Springer-Spaniel-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Chihuahua-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Bernese-Mountain-Dog-2.jpg</key>
            <key>http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Cocker-Spaniel-2.jpg</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>FacebookDisplayName</key>
	<string>Woof</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1288405447919996</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.548363881497-qa97b6un6ec22m064qdbnkg9vaq5qp3t</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-Black.ttf</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Woof!</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
